<?xml version="1.0" encoding="UTF-8"?>
<module id="234946" version="2022112800">
  <modulename>resource</modulename>
  <sectionid>60865</sectionid>
  <sectionnumber>0</sectionnumber>
  <idnumber>$@NULL@$</idnumber>
  <added>1446639626</added>
  <score>0</score>
  <indent>0</indent>
  <visible>0</visible>
  <visibleoncoursepage>1</visibleoncoursepage>
  <visibleold>0</visibleold>
  <groupmode>1</groupmode>
  <groupingid>0</groupingid>
  <completion>0</completion>
  <completiongradeitemnumber>$@NULL@$</completiongradeitemnumber>
  <completionpassgrade>0</completionpassgrade>
  <completionview>0</completionview>
  <completionexpected>0</completionexpected>
  <availability>$@NULL@$</availability>
  <showdescription>0</showdescription>
  <downloadcontent>1</downloadcontent>
  <lang>$@NULL@$</lang>
  <plugin_plagiarism_compilatio_module>
    <compilatio_modules>
    </compilatio_modules>
    <compilatio_files>
    </compilatio_files>
  </plugin_plagiarism_compilatio_module>
  <tags>
  </tags>
</module>